/* 庞门正道标题体 */
@font-face {
    font-family: 'PangMenTitle';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/PangMenTitle.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 庞门正道粗书体 */
@font-face {
    font-family: 'PangMenChuShuTi';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/PangMenChuShuTi.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 演示夏行 */
@font-face {
    font-family: 'YanShiXiaXing';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/YanShiXiaXing.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 演示春风 */
@font-face {
    font-family: 'YanShiChunFeng';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/YanShiChunFeng.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 演示秋鸿 */
@font-face {
    font-family: 'YanShiQiuHong';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/YanShiQiuHong.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 阿里巴巴普惠体系列 */
@font-face {
    font-family: 'AlibabaPuHuiTi-Black';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/AlibabaPuHuiTi-3-115-Black.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlibabaPuHuiTi-Thin';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/AlibabaPuHuiTi-3-35-Thin.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlibabaPuHuiTi-RegularL3';
    src: url('http: //blog.quantide.cn/assets/fonts/AlibabaPuHuiTi-3-55-RegularL3.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlibabaPuHuiTi-Bold';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/AlibabaPuHuiTi-3-85-Bold.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 青柳隶书 */
@font-face {
    font-family: 'QingLiuLiShu';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/QingLiuLiShu.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 鸿雷板书简体 */
@font-face {
    font-family: 'HongLeiBanShuJianTi';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/HongLeiBanShuJianTi.otf') format('opentype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 鸿雷行书简体 */
@font-face {
    font-family: 'HongLeiXingShuJianTi';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/HongLeiXingShuJianTi.otf') format('opentype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 辰余落雁细 */
@font-face {
    font-family: 'ChenYuLuoYanXi';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/ChenYuLuoYanXi.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 文泉驿微米黑 */
@font-face {
    font-family: 'WenQuanWeiMiHei';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/WenQuanWeiMiHei.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 文泉驿正黑 */
@font-face {
    font-family: 'WenQuanYiZenHei';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/WenQuanYiZenHei.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 文泉驿正黑等宽 */
@font-face {
    font-family: 'WenQuanYiZenHeiMono';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/WenQuanYiZenHeiMono.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* ZhuqueFangsong-Regular */
@font-face {
    font-family: 'ZhuqueFangsong';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/ZhuqueFangsong-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* OPPOSans 系列 */
@font-face {
    font-family: 'OPPOSans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/OPPOSans-Bold.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OPPOSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/OPPOSans-Medium.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OPPOSans-Regular';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/OPPOSans-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 文泉驿微米黑-轻 */
@font-face {
    font-family: 'wqy-microhei-lite';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/WenQuanYiMicroHeiLight.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* 文泉驿微米黑等宽-轻 */
@font-face {
    font-family: 'wqy-microhei-mono-lite';
    src: url('https://cdn.jsdelivr.net/gh/zillionare/images@main/images/fonts/WenQuanYiMicroHeiMonoLight.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
