.slidev-layout {
    ol {
        padding: 0;
        margin-left: 4vw;
        text-align: left;
    }

    img {
        width: calc(100%);
        margin: 0 auto;
        display: block;
    }

    img[alt="25%"] {
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    img[alt="33%"] {
        width: 33%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    img[alt="50%"] {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    img[alt="66%"] {
        width: 66%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    img[alt="75%"] {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


    img[alt="100%"] {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    img[alt="R50"] {
        position: relative;
        float: right;
        width: 45%;
        margin: 1vw 0 0vw 2vw !important;
    }

    img[alt="R33"] {
        position: relative;
        margin-top: 0;
        float: right;
        width: 33%;
        margin: 1vw 0 0vw 2vw !important;
    }

    img[alt="L50"] {
        position: relative;
        float: left;
        width: 45%;
        margin: 1vw 2vw 0 0 !important;
    }

    img[alt="L33"] {
        position: relative;
        float: left;
        width: 33%;
        margin: 1vw 2vw 0 0 !important;
    }

}
